@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 16px;
}

#weather-page{
    margin-top: 200px;
    background-color: cadetblue;
}

.icon{
    font-size: 35px;
    padding: 0px;
    margin-right: 8px;
}

.weather-1{
    overflow: hidden;
    margin-top: 90px;
    margin-bottom: 90px;
}